$left-panel-width: 20em;
.App {
  background-color: aliceblue;
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-columns: $left-panel-width 1fr;
  grid-template-rows: auto 1fr;
}

.Toolbar {
  grid-column-start: 1;
  grid-column-end: span 2;

  display:grid;
  grid-template-columns: $left-panel-width 1fr 1fr 1fr;
  text-align: center;
  grid-column-gap: 3em;
}

.ControlPanel {
  background-color: #eeffff;
  overflow-y: auto;
}

.button {
  cursor: pointer;
  background-color: #eee;
  &:hover{
    background-color: #ccc;
  }
}

.button-container{
}

.small-button {
  display: inline-block;
  cursor: pointer;
  background-color: #eee;
  margin: 0.2em 0.5em;
  padding: 1px 4px;
  &:hover{
    background-color: #ccc;
  }
}


.button.active, .small-button.active{
  border: thin black solid;
}


.GridPanel {
  background-color: white;
  overflow-y: auto;
}

